<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>
        Foot Traffic
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <hr class="divider">
      <div class="container metricPos">
        <p class="metricPos">Day</p>
        <span style="float: left" class="metricNumBig">294</span>
        <p>
          <span style="float: right">
            <span style="float: right" class="metricNumBig">+23</span>
            <br>
            <span style="float: right" class="miniText">than yesterday</span>
          </span>
        </p>
      </div>
      <hr class="divider">
      <div class="container metricPos">
        <p class="metricPos">Week</p>
        <span style="float: left" class="metricNumBig">1,231</span>
        <p>
          <span style="float: right">
            <span style="float: right" class="metricNumBig">+12</span>
            <br>
            <span style="float: right" class="miniText">than last week</span>
          </span>
        </p>
      </div>
      <hr class="divider">
      <div class="container metricNeg">
        <p class="metricNeg">Month</p>
        <span style="float: left" class="metricNumBig">5,610</span>
        <p>
          <span style="float: right">
            <span style="float: right" class="metricNumBig">-4</span>
            <br>
            <span style="float: right" class="miniText">than last month</span>
          </span>
        </p>
      </div>
      <hr class="divider">
      <div class="container metricPos">
        <p class="metricPos">Year</p>
        <span style="float: left" class="metricNumBig">84,297</span>
        <p>
          <span style="float: right">
            <span style="float: right" class="metricNumBig">+792</span>
            <br>
            <span style="float: right" class="miniText">than last year</span>
          </span>
        </p>
      </div>
    </div>
  </mat-card-content>
  
</mat-card>