.location-types{
    margin-bottom: 10%;
}

.location-types-label{
    color: #395CB5;
}

.mat-chip.mat-standard-chip {
    background-color: rgb(255, 255, 255);
    color: #395CB5;
}

.pageSize {
    width: 25%;
}