.progress-bar{
    width:100%;
}

.dashboard{
    width: inherit;
    margin-top: 1%;
    margin-bottom: 1%;
}
.dashboard-left{
    width: 60%;
}

.dashboard-right{
    width: 25%;
}

.crowd-size{
    margin-bottom: 1%;
}

.vertical-line{
    border-left: black solid 0.5px;
    // height: 110%;
}