.progress-bar{
    width: 100%;
}

.locations {
    margin: 1% 1% 0 1%;
    height: 600px;
}

.add-location{
    cursor: pointer;
    color: #395CB5;
    border: 2px solid #395CB5;
    width: 400px;
    height: 100%;
    font-size: 20px;
    margin-right: 0.6em;
    margin-bottom: 0.75em;
}