<div *ngIf="loading" class="progress-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<app-crowds-header></app-crowds-header>

<div class="container pageSize" fxLayout="column" fxLayoutAlign="space-between">
  <div class="form-input container">
    <div class="form-group">
      <label class="crowds-form-label">What's your email?</label>
      <input  ngModel
              #email = ngModel
              required
              pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
              type="email"
              name="email"
              class="crowds-form-element form-control"
              [class.is-invalid]="email.touched && !email.valid">
    </div>
    <div  *ngIf="email.touched && !email.valid"
          class="alert alert-danger">
      <div *ngIf="email.errors.required">
        email is required
      </div>
      <div *ngIf="email.errors.pattern">
        email not valid
      </div>
    </div>
  
    <div class="form-group">
      <label class="crowds-form-label">Create a password</label>
      <div class="input-group">
          <input ngModel
                 required
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                 #password = ngModel
                 type="{{input_type}}" 
                 class="crowds-form-element form-control password"
                 name="password"
                 [class.is-invalid]="password.touched && !password.valid">
          <div class="input-group-append">
              <button (click)="toggleEye()" 
                      class="eye-btn btn btn-outline-primary"
                      [class.error]="password.touched && !password.valid"
                      type="button">
                <span class="fa"
                      [class.fa-eye]="!hidden"
                      [class.fa-eye-slash]="hidden">
                </span>
              </button>
          </div>
      </div>
    </div>
    <div  *ngIf="password.touched && !password.valid"
          class="alert alert-danger">
      <div *ngIf="password.errors.required">
        password is required
      </div>
      <div *ngIf="password.errors.pattern">
          password must contain at least
          <br>
          <ul>
            <li>eight characters</li>
            <li>one number</li>
            <li>one lowercase letter</li>
            <li>one uppercase letter</li>
            <li>one special character in <br>
              @, $, !, %, *, ? and &</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="container">
      <button (click)="signup(email.value, password.value)" 
              type="button" 
              class="next-btn crowds-form-element btn btn-outline-light"
              [ngStyle]="{'background': '#3BC269'}"
              [disabled]="!email.valid || !password.valid">
        Sign Up
      </button>
  </div>
</div>

