.form-input{
    margin-top: 5%;
    margin-bottom: 15%;
}

.eye-btn{
    border-color: #ced4da;
    border-left-color: white;
    color: #555555;
    background-color: white;
    border-radius: 20px;
}

.error{
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
}

.password{
    border-right-color: white;
}

.eye-btn:active{
  background-color: white !important;
}

.btn:focus, .btn:active, .btn:hover{
    box-shadow: none !important;
    outline: 0;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: white;
}

.next-btn{
    background-color: #395CB5;
    color: white;
    width: 100%;
}

.pageSize {
    width: 25%;
}

