.progress-bar{
    margin-bottom: 0.4%;
}
.cuisine-types{
    margin-top: 5%;
    margin-bottom: 17%;
}

.cuisine-types-label{
    color: #395CB5;
}

.mat-chip.mat-standard-chip {
    background-color: rgb(255, 255, 255);
    color: #395CB5;
}

.next-btn{
    background-color: #395CB5;
    color: white;
    width: 100%;
}

.pageSize {
    width: 25%;
}