.location-types-label{
    color: #395CB5;
}

.location-types{
    margin-top: 5%;
    margin-bottom: 10%;
}

.pageSize {
    width: 26%;
}

.mat-slider-horizontal {
    width: 345px;
  }

.fillSpace {
    display: contents;
}