.pageSize {
    width: 25%;
}

.next-btn{
    background-color: #395CB5;
    color: white;
    width: 100%;
}

.new-code{
    color: #395CB5;
    font-size: 0.7rem;
    text-align: center;
}

.new-code:hover{
   cursor: pointer; 
}

.all{
    margin-top: 5%;
    margin-bottom: 17%;
}