<div *ngIf="loading" class="progress-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<app-crowds-header></app-crowds-header>

<div class="container pageSize">
  <div class="container all">
      <div class="form-group">
          <label class="crowds-form-label">Enter Confirmation Code</label>
          <div class="input-group">
              <input #code type="text" class="crowds-form-element form-control">
          </div>
          <div class="new-code" (click)="routeToResendCode()"> 
            Get new code
          </div>
      </div>
  </div>
  <div class="container">
      <button (click)="confirmSignup(code.value)" 
              type="button" 
              class="next-btn crowds-form-element btn btn-outline-light"
              [ngStyle]="{'background': '#3BC269'}">
        Confirm
      </button>
  </div>
</div>