/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$app-background-color: #F9F9F9;

body{
    background-color: $app-background-color;
}

html, body{
    height: 100%;
}

.crowds-form-element{
    border-radius: 20px;
}

.crowds-form-label{
    color: #395CB5;
}

.mat-card-header-text {
    margin: 0 !important;
}

.progress-bar{
    background-color: #395CB5;
    width: 375px;
}

.progress{
    border-radius: 0;
}
